# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
.idea

# VisualStduio & Code
.vs
.vscode
out

#Antlr4
.antlr
#Antlr4 VisualCode debug tools
gen

#CmakeDebug
cmake-build-debug